.project_details {
    /*float: left;*/
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
}

.project_details>h1 {
    font-size: 45px;
    text-align: left;
}

.project_details>h3 {
    font-size: 24px;
    text-align: left;
    margin-left: 2px;
    margin-bottom: 20px;
    /*border-bottom: 2px dotted;*/
}

.project_details>p {
    font-size: 20px;
    margin-top: 20px;
    text-align: left;
}

.project_comments {
    background-color: rgb(247, 247, 247);
    border: 0.5px solid;
    width: 400px;
    /*float: right;*/
    margin-top: 20px;
    margin-right: 20px;
    position: relative;
    z-index: 100;
}

.task_btn {
    border: 0.5px solid;
    border-radius: 5px 5px 5px 5px;
    /*float: right;*/
    margin-right: 20px;
    margin-top: 20px;
    background-color: white;
}

.file_upload {
    border: 0.5px solid;
    border-radius: 5px 5px 5px 5px;
    /*float: right;*/
    margin-right: 20px;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
}
.jj {
    background: url(../Milestones/45degreee_fabric.png);

}
.rightsection {
    float: right;
    padding-left: 40px;
}

.blocked {
    display: flex;
}
.mBackground {
    width: 100%;
    height: 100%;
    background: url(../Milestones/45degreee_fabric.png);

  }
.project_milestones {
    /* display: flex; */
    /* align-items: center; */
    position: relative;
    width: 100%;
    top: 100px;
    height: 100%;
    /* padding-bottom: 0; */
    /* background: blue; */
    background: url(../Milestones/45degreee_fabric.png);

    /* background-color: #30475E; */
    /* background-color: rgb(136, 136, 136); */


   
   
    /* box-shadow:  0px -5999999999px 10px 10px rgba(0, 0, 0, 1) inset; */
    box-shadow:  0px 0px 50px 0px rgba(0, 0, 0, .51) ;
   
   
    /* background: url(../Milestones/45degreee_fabric.png); */
    /* background-image: url(../Login/memphis-mini.webp); */
    /* background-image: linear-gradient(180deg, rgba(27, 27, 27, 0.493), rgba(46, 46, 46, 0.4)); */
    z-index: 0;
}

.milestoneBtn {

    padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.project-paragraph-textarea {
    display: none;
    width: 70%;
    height: 200px;
    margin-bottom: 8px;
    margin-top: 8px;
    border: 1px solid rgb(107, 114, 12);
    text-align: left;
    text-indent: 5px;
}

.project-paragraph-button {
    display: none;
    font-size: 16px;
    padding: 8px 44px;
    margin-bottom: 8px;
    margin-top: 8px;
    background: rgb(89, 152, 255);
    border-radius: 8px;
    color: white;
}
  
.project-paragraph-button:hover {
    cursor: pointer;
    background: rgb(72, 129, 252);
}

.project-paragraph-edit {
    font-size: 16px;
    padding: 8px 44px;
    margin-bottom: 8px;
    margin-top: 8px;
    background: rgb(89, 152, 255);
    border-radius: 8px;
    color: white;
}

.project-paragraph-edit:hover {
    cursor: pointer;
    background: rgb(72, 129, 252);
}