.project_details {
    /*float: left;*/
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
}

.project_details>h1 {
    font-size: 45px;
    text-align: left;
}

.project_details>h3 {
    font-size: 24px;
    text-align: left;
    margin-left: 2px;
    margin-bottom: 20px;
    /*border-bottom: 2px dotted;*/
}

.project_details>p {
    font-size: 20px;
    margin-top: 20px;
    text-align: left;
}

.project_comments {
    background-color: rgb(247, 247, 247);
    border: 0.5px solid;
    width: 400px;
    /*float: right;*/
    margin-top: 20px;
    margin-right: 20px;
}

.task_btn {
    border: 0.5px solid;
    border-radius: 5px 5px 5px 5px;
    /*float: right;*/
    margin-right: 20px;
    margin-top: 20px;
    background-color: white;
}

.file_upload {
    border: 0.5px solid;
    border-radius: 5px 5px 5px 5px;
    /*float: right;*/
    margin-right: 20px;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
}

.rightsection {
    float: right;
    padding-left: 40px;
}

.project-paragraph-textarea {
    display: none;
    width: 70%;
    height: 200px;
    margin-bottom: 8px;
    margin-top: 8px;
    border: 1px solid rgb(107, 114, 12);
    text-align: left;
    text-indent: 5px;
}

.project-paragraph-button {
    display: none;
    font-size: 16px;
    padding: 8px 44px;
    margin-bottom: 8px;
    margin-top: 8px;
    background: rgb(89, 152, 255);
    border-radius: 8px;
    color: white;
}
  
.project-paragraph-button:hover {
    cursor: pointer;
    background: rgb(72, 129, 252);
}

.project-paragraph-edit {
    font-size: 16px;
    padding: 8px 44px;
    margin-bottom: 8px;
    margin-top: 8px;
    background: rgb(89, 152, 255);
    border-radius: 8px;
    color: white;
}

.project-paragraph-edit:hover {
    cursor: pointer;
    background: rgb(72, 129, 252);
}