/* * {
    border: 1px solid red;
} */

.main-container {
    height: 100%;
    width: 100%;
}

.info-container {
    background: url(./media/sarah-dorweiler-QeVmJxZOv3k-unsplash.jpg) no-repeat center center;
    -webkit-background-size: cover;
    display: flex;
    height: 100%;
    width: 100%;
    position: fixed;
    justify-content: center;
    
}

.info-container .info-window-outer {
    display: flex;
    margin: 50px auto;
    background-color: #C4C4C4;
    justify-content: center;
    max-height: 80%;
    min-width: 50%;
    border-radius: 18px;
}

.info-window-inner {
    margin: 12px;
    background-color: #E9E9E9;
    position: relative;
    width: 98%;
    height: 97%;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* border: 1px solid blue; */
}

#main-title {
    color: #5c6c7c;
    font-size: 4.5em;
    display: block;
}

div.show.dropdown {
    width: 100%;
    position: relative;
}

#dropdown-basic {
    width: 250px;
    font-size:1.2rem;
    background-color: #19A4FF;
    font-size: 1.2rem;
    margin-bottom: 5px;;
    color: white;
    font-weight: 600;
    margin-bottom: 20px;
}

.dropdown-menu.show {
    display: flex;
    display: block;
    justify-content: center;
    align-items: center;
    width: 280px;
    background-color: white;
    border: none;
}

#dropdown-basic:hover {
    background-color: white;
    color: #626262;
    border: 3px solid #19A4FF;
}

a.dropdown-item {
    color: black;
    margin: 6px auto;
    padding: 10px;
    background-color: white;
    width: 100%;
    text-align: center; 
    height: 100%;
    position: relative;
}

.dropdown-item:hover {
    color: white;
    background-color: #19A4FF;
}

div.input-container {
    width: 450px;
    background: #E9E9E9;
    padding: 30px;
    margin: 0 auto;
    height: 100px;
}

div.input-data {
    height: 40px;
    width: 100%;
    position: relative;
}

#input-search {
    height: 100%;
    width: 200px;
    border: none;
    background-color: #E9E9E9;
    border-bottom: 3px solid #C4C4C4;
    margin-bottom: 50px;
    padding: 5px;
    outline: 5px;
}

#input-search:focus {
    border-bottom: 3px solid #19A4FF;
}

#input-button {
    margin-left: 10px;
    color: #626262;
    background-color: #E9E9E9;
    border-radius: 10px;
    padding: 5px;
    font-size: 0.9rem;
    border: 1px solid #19A4FF;
}

#input-button:hover {
    color: white;
    background-color: #19A4FF;
}

div.table-container {
    width: 95%;
    height: 400px;
    margin: 0 auto;
    overflow: scroll;
}

table.users-table {
    width: 100%;
    height: 100%;  
}

th.title {
    height: 50px;
    margin: 30px;
    border: 2px solid #C4C4C4;
}

td.personal-info {
    height: 50px;
}

td.delete-user,
th.delete-user-header {
    padding: 20px;
}

button.delete-user-button {
    color: #FC3020;
    padding: 3px;
    border: none;
    background-color: #E9E9E9;
}

button.delete-user-button:hover {
    color: white;
    background-color: #FC3020;
}

div.add-user {
    margin-top: 30px;
}

button.submit-user-button {
    padding: 10px;
    background-color: #19A4FF;
    color: white;
    border: none;
}

button.submit-user-button:hover {
    background-color: white;
    color: #626262;
    border: 3px solid #19A4FF;
}
 