*{
	box-sizing:border-box;
}

#container{
	width:100%;
    height: 100%;
	background:#eff3f7;
	margin:0 auto;
	font-size:0;
	border-radius:5px;
	overflow:hidden;
}
.chatAside{
	width:20%;
    height:100%;
	background-color:#3b3e49;
	display:inline-block;
	font-size:15px;
	vertical-align:top;
}
.chatMain{
	width:80%;
	display:inline-block;
	font-size:15px;
	vertical-align:top;
}

.chatAside header{
	padding:30px 20px;
}
.chatAside input{
	width:100%;
	height:50px;
	line-height:50px;
	padding:0 50px 0 20px;
	background-color:#5e616a;
	border:none;
	border-radius:3px;
	color:#fff;
	background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_search.png);
	background-repeat:no-repeat;
	background-position:170px;
	background-size:40px;
}
.chatAside input::placeholder{
	color:#fff;
}
.chatAside ul{
	padding-left:0;
	margin:0;
	list-style-type:none;
	overflow-y:scroll;
	height:690px;
}
.chatAside li{
	padding:10px 0;
}
.chatAside li:hover{
	background-color:#5e616a;
}
.chatAside li.clicked{
	background-color:#5e616a;
    /*border: ;*/
}
h2,h3{
	margin:0;
}
.chatAside li img{
	border-radius:50%;
	margin-left:20px;
	margin-right:8px;
}
.chatAside li div{
	display:inline-block;
	vertical-align:top;
	margin-top:12px;
}
.chatAside li h2{
	font-size:14px;
	color:#fff;
	font-weight:normal;
}

.chatAside li .eUID {
    font-size:12px;
	color:#fff;
	font-weight:normal;
    margin-bottom: 5px;
}

.chatAside li h3{
	font-size:12px;
	color:#7e818a;
	font-weight:normal;
}

.status{
	width:8px;
	height:8px;
	border-radius:50%;
	display:inline-block;
	margin-right:7px;
}
.green{
	background-color:#58b666;
}
.orange{
	background-color:#ff725d;
}
.blue{
	background-color:#6fbced;
	margin-right:0;
	margin-left:7px;
}

.chatMain header{
	height:110px;
	padding:30px 20px 30px 40px;
}
.chatMain header > *{
	display:inline-block;
	vertical-align:top;
}
.chatMain header img:first-child{
	border-radius:50%;
}
.chatMain header img:last-child{
	width:24px;
	margin-top:8px;
}
.chatMain header div{
	margin-left:10px;
	margin-right:145px;
}
.chatMain header h2{
	font-size:16px;
	margin-bottom:5px;
}
.chatMain header h3{
	font-size:14px;
	font-weight:normal;
	color:#7e818a;
}

#chat{
	padding-left:0;
	margin:0;
	list-style-type:none;
	overflow-y:scroll;
	height:535px;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
    background-color:rgba(209, 206, 206, 0.5)
}
#chat li{
	padding:10px 30px;
}
#chat h2,#chat h3{
	display:inline-block;
	font-size:13px;
	font-weight:normal;
}
#chat h3{
	color:#bbb;
}
#chat .entete{
	margin-bottom:5px;
}
#chat .message{
	padding:20px;
	color:#fff;
	line-height:25px;
	max-width:90%;
	display:inline-block;
	text-align:left;
	border-radius:5px;
}
#chat .me{
	text-align:right;
}

#chat .you{
	text-align:left;
}

#chat .you .message{
	background-color:#58b666;
}
#chat .me .message{
	background-color:#6fbced;
}

.chatMain footer{
	height:155px;
	padding:20px 30px 10px 20px;
}
.chatMain footer textarea{
	resize:none;
	border:none;
	display:block;
	width:100%;
	height:80px;
	border-radius:3px;
	padding:20px;
	font-size:13px;
	margin-bottom:13px;
}
.chatMain footer textarea::placeholder{
	color:#ddd;
}
.chatMain footer img{
	height:30px;
	cursor:pointer;
}
.chatMain footer button{
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
	color:#6fbced;
	vertical-align:top;
	margin-left:333px;
	margin-top:5px;
	display:inline-block;
}