.modalx{
    z-index: 5;
    background-color: #051f42fa;
}
.xBtn {
  position:absolute;
  top: 10px;
  left: 10px;
  width:32px;
  color:grey;
  height:32px;
  text-align:center;
  /* border-radius: 100px; */
  /* background:red; */
  transition: transform .25s;
  /* background:red; */
}
.xBtn:hover{
  transform: scale(1.2);
  /* box-shadow: 0px 0px, ; */
  /* background:black; */
  /* color:rgb(65, 65, 65); */
  /* text-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5); */
}
.xBtn:hover .xButton{
  color:rgb(112, 112, 112);
  
  /* box-shadow: 0px 0px 0 px rgb(112, 112, 112); */
}
.xBtn .xButton {
  color:grey;
}

.xBtn:active .xButton {
  color:rgb(112, 112, 112);

}
.xButton {
  /* position: absolute; */
  /* left: 10px; */
  /* top: 10px; */
  font-size: 32px;
  transition: font-size .5s;
  /* transition: font-size .5s, text-shadow .05s ease-out; */
  text-align: center;
}
.xLink {
  text-align: center;
  color:grey;
}

.xLink {
  transition:text-shadow .25s ease-out;
  /* transition-delay:.125s; */
  text-align: center;
  color:grey;

}
.xLink:hover {
  text-shadow: 0px 1px 10px #00000069;
				  /* 1px 1px 1px #0000006d,
				  1px -1px 0 #0000006d,
				  -1px -1px 0 #0000006d;  */
}

.xLink a {
  color: blue;
}

.addEventForm {
  position: fixed;
  border-radius: 20px;
  border: 10px solid #ccc;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 500px;
  height: 605px;
}

.inputFields {
  position:relative;
  top: 20px;
}


  .submit{
    position: relative;
    right: 50px;
    width: 50%;
    color: #565656;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    border: solid 2px rgba(0, 0, 0, 0.05);
    border-radius: 4px; 
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #a54bff85;
    
  }
  .delete{
    
    position: relative;
    right: 40px;
    width: 50%;
    color: #565656;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    border: solid 2px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: rgba(251, 255, 2, 0.4);
  }
  .cancel{
    position: relative;
    top: 0px; right: 30px;
    width: 50%;
    color: #565656;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    border: solid 2px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: rgba(250, 37, 9, 0.4);
  }

  .addEvent{
    
    position: relative;
    top:0px;
    right: 0px;
    width: 10%;
    color: #fdfafa;
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
    border: solid 2px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #051f42fa;
}

  .modalEdit {
    position: fixed;
    border-radius: 20px;
    border: 10px solid #ccc;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 615px;
    width: 500px;
  }

  .modalOpen {
      position: fixed;
      border-radius: 20px;
      border: 10px solid #ccc;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      height: 615px;
      width: 500px;
  }

  
  .addCancel{
    position: relative;
    top: 0px; left: 7px;
    width: 50%;
    color: #565656;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    border: solid 2px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: rgba(250, 37, 9, 0.4);
  }
  .addSubmit{
    position: relative;
    right: 7px;
    width: 50%;
    color: #565656;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    border: solid 2px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #a54bff85;
  }

  .editModalButtons {
    position:relative;
    width: 100%;
  }

  .allButtons {
    position:relative;
    left: 50px;
  }