.complete{
    text-decoration: line-through red;
    opacity: 0.6;
}
body {
    background: white;
  }

  .todo-list{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 520px;
    min-height: 600px;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
  }
  .todo-form {
    margin-bottom: 32px;
  }
  .todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #040404;
    outline: none;
    width: 320px;
    background: transparent;
    color: rgb(5, 5, 5);
  }
  .todo-button {
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: black;
    color: #fff;
    text-transform: capitalize;
  }
  .todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background: black;
    padding: 10px;
    border-radius: 5px;
    width: 70%;
    text-transform: capitalize;
  }
  .icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }
  .delete-icon {
    margin-right: 5px;
    color: #fff;
  }
  .edit-icon {
    color: #fff;
  }