* {
    margin: 0;
    padding: 0;
  }
  
  h1 {
    margin: 1rem 0;
    font-weight: 400;
  }

  section {
    width: 70rem;
    display: flex;
    margin-bottom: 2rem;
  }

  .statusLine {
    width: 100%;
    margin: 0 0.5rem;
  }

  .tasks {
    width: 70rem;
    position: absolute;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    box-sizing: border-box;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }

  .task {
    padding: 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: flex-end;
    border: 1px solid gray;
    border-radius: 0.25rem;
  }

  h3 {
    font-weight: 500;
    margin: 1rem 0;
  }

  .task form .input {
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 0.25rem;
    color: black;
    text-align: center;
    resize: none;
    display: flex;
  }  

  .task form .input:hover{
    cursor: text;
    border: 2px solid gray;
  }
  
  .task form .input:focus {
    outline: none;
    border-color: black;
    color: black;
  }

  .task form .description {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    width: 100%;
    font-size: .75rem;
  }
  
  .task form .description:hover {
      cursor: text;
  }
  
.task form.collapsed {
    flex-direction: row;
    align-content: center;
  }
  
  .task form.collapsed .title {
      margin: 0;
  }
  
  .task form.collapsed .title:hover {
        border-color: transparent;
        cursor: default;
  }
  
  .task form.collapsed .urgencyLabels {
      margin-bottom: 0;
      margin-right: 1rem;
    }
  
  .task form.collapsed .description{
    margin-bottom: 0;
    margin-right: 1rem;
  }
  
  .task form.collapsed .description:hover {
    border-color: transparent;
    cursor: default;
  }
  
  .task form.collapsed label.selected {
      display: inline-block;
      font-weight: 500;
    }
  
  .task form.collapsed .button {
      padding: 0.025rem 0.5rem;
  }

  .button {
    border: solid black;
    text-transform: uppercase;
    width: fit-content;
    padding: 0.3rem 1.5rem;
    background-color: transparent;
    border-color: black;
    color: black;
    font-weight: 500;
    font-family: "PT Sans", sans-serif;
    border-radius: 0.25rem;
    font-size: 1rem;
    margin-right: 0.25rem;
  }

  .button:hover {
    background-color: lightblue;
    border-color: blue;
    cursor: pointer;
  }

  .button.addTask:hover {
    background-color: lightgreen;
    border-color: green;
  }

  .button.delete:hover {
    background-color: red;
    border-color: darkred;
  }
  
    
  @media only screen and (max-width: 75rem) {
    section {
      width: 100%;
      flex-direction: column;
    }
  }

  @media only screen and (max-width: 75rem) {
    .statusLine {
      width: initial;
    }
  }
  