:root {
  --loginFormWidth: 350px;
  --loginFormHeight: 500px;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.titleBar {
  color: slategray;
    width: 100%;
  height: 60px;
  display: inline-flex;
  align-items: center;
  position: relative;
  /* justify-content: center; */
}

.backImg {
  opacity: 0.5;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  transition: all 0.5s;
}
.backImg:hover {
  box-shadow: 1px 01px 10px rgba(0, 0, 0, 0.8);
}
.backButton:hover {
}
.navContainer {
  text-align: left;
  font-size: 18px;
  /* margin-left: -20px; */
  font-family: "Trebuchet MS", sans-serif;
  /* left: -100px; */
  width: 50px;
  height: 50px;
}
.backButton {
  transition: all 0.5s;
  text-align: left;
  position: absolute;
}
.form__field {
  font-family: inherit;
  text-align: left;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1rem;
  color: #000;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #868686;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #a54bff85, #a54bff);
  /* border-image: linear-gradient(to right, #11998e, #38ef7d); */
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #8c6cad;
  /* color: #CB9CFA; */
  font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

* {
  text-align: center;
}

/*
.loginForm {
  margin: auto;
  width: 30%;
  border: 10px solid #2181ad;
  border-radius: 25px;
  padding: 10px;
}*/
input[type="text"] {
  text-align: left;
}

input[type="password"] {
  text-align: left;
}

html {
  background-image: url("hip-square.png");
  background-repeat: repeat;
}

body,
html,
#root,
.container {
  width: 100%;
  height: 100%;
}

.containerFirst {
    width: 100%;
  height: 100%;

  white-space: nowrap;

  font-size: 28px;  
  color: slategray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* animation: fadeInContent 2s; */
  /* animation-delay: .5s; */

}
.app {
  width: 100%;
  height: 100%;
  /* background-color: green; */
}
.loginFormContentForgot {
  /* padding: 20px; */
    position: relative;
  top: -10px;
}

body {
  background-image: url(hip-square.png);
  background-repeat: repeat;
}
.forgotpass {
  font-size: 20px;
  margin-top: 10px;
  min-height: 26px;
  transition: all 0.25s;

  /* line-height: 10px; */
}
.forgotpass:hover {
  transform: scale(1.1);
}
.forgotContainer {
  color: slategray;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  width: 100%;
  height: 100%;
}
.emailInput {
  width: 100%;
  /* height:100%; */
}

.loginForm1 h2 {
  text-align: center;
}

.loginForm1 {
      width: 100%;
  height: 100%;

  white-space: nowrap;

  font-size: 28px;  
  color: slategray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* animation: fadeInContent 1s; */
  /* animation-delay: .5s; */
}

.loginForm2 {
  /* opacity: 0; */
        width: 100%;
  height: 100%;

  white-space: nowrap;

  font-size: 28px;  
  color: slategray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  animation: fadeInContent 1.25s;
  /* animation-delay: .5s; */
}
.container {
  white-space: nowrap;

  font-size: 28px;  
  color: slategray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #282c34; */
}

.mainContent {
  cursor:default;
}
a {
  text-decoration: none;
}
.loginFormContainer {
  z-index: 1000;
  font-family: "Poppins", sans-serif;
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  width: 100%;
  max-width: var(--loginFormWidth);
  height: var(--loginFormHeight);
  padding-left: 20px;
  padding-right: 20px;
  /* padding-bottom: 20px; */
  padding-top: 10px;
  /* background-color: #f3e9dd; */
  background-color: rgb(245, 245, 245);
  /* background-color: #2baed642; */
  border: 15px solid rgba(0, 0, 0, 0.15);
  /* border: 15px solid #DAB88B; */
  border-radius: 50px;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.3);
  opacity: 1;
  overflow: hidden;
  /* animation: fadein .5s; */
  /* transition: font-size .25s; */
  /* transition: min-height .5s; */
}
.loginFormContainerFirst {
  overflow: hidden;

  z-index: 1000;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  position: fixed;
  transition: all 0.5s;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  width: 100%;
  max-width: var(--loginFormWidth);
  height: var(--loginFormHeight);
  padding-left: 20px;
  padding-right: 20px;
  /* padding-bottom: 20px; */
  padding-top: 10px;
  /* background-color: #f3e9dd; */
  background-color: rgb(245, 245, 245);
  /* background-color: #2baed642; */
  border: 15px solid rgba(0, 0, 0, 0.15);
  /* border: 15px solid #DAB88B; */
  border-radius: 50px;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.3);
  animation: fadein .5s;
  /* transition: font-size .25s; */
  /* transition: min-height .5s; */
}


@keyframes fadein {
  from {opacity:0;}
  to  { opacity: 1;}
}

@keyframes fadeInContent {
    0%    { opacity: 0; }
    10%   { opacity: 0; }
    100%  { opacity: 1; }
}

.RegisterFormContainerStudent {
  font-family: "Poppins", sans-serif;
  margin: 0;
  transition: all 0.5s;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  width: 100%;
  max-width: var(--loginFormWidth);
  height: 750px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 100px;
  padding-top: 10px;
  background-color: #f3e9dd;
  /* background-color: #2baed642; */
  border: 15px solid rgba(0, 0, 0, 0.05);
  /* border: 15px solid #DAB88B; */
  border-radius: 20px;
  /* transition: font-size .25s; */
  /* transition: min-height .5s; */
}
.RegisterFormContainerStaff {
  font-family: "Poppins", sans-serif;
  margin: 0;
  transition: all 0.5s;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  width: 100%;
  max-width: var(--loginFormWidth);
  height: 780px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 100px;
  padding-top: 10px;
  background-color: #f3e9dd;
  /* background-color: #2baed642; */
  border: 15px solid rgba(0, 0, 0, 0.05);
  /* border: 15px solid #DAB88B; */
  border-radius: 20px;
  /* transition: font-size .25s; */
  /* transition: min-height .5s; */
}
.loginForm {
  /* background-color: red; */
  transition: all 0.5s;
  background-color: #f3e9dd;
}

/*
  background-color: #68c9e742;
  */
.inputField {
  color: #292929;
  width: 90%;

  padding-top: 16px;
  padding-bottom: 16px;
}

.inputField2 {
  color: #292929;
  padding-top: 16px;
  width: 90%;
}

.inputField3 {
  color: #292929;
  padding-top: 1px;
  text-align: left;
}



.registerLink {
  margin: 10px;
  transition: all 0.25s ease;
  font-size: 20px;
  /* line-height: 50px; */
  /* min-height: 26px; */
}

.registerLink:hover {
  transform: scale(1.1);
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}
.input {
  box-sizing: border-box;
  outline: none;
  border: solid 2px #1189de;
  border-radius: 4px;
  color: #292929;
  width: 100%;
  padding: 12px;
  font-size: 14px;
  background: white;
}
.buttonsRegister {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: relative; */
  margin-top: 15px;
  /* background-color: red; */
}
.input2 {
  box-sizing: border-box;
  outline: none;
  border: solid 2px #1189de;
  border-radius: 4px;
  color: #292929;
  width: 100%;
  padding: 12px;
  font-size: 14px;
  background: white;
}

#userInput {
  border-radius: 20px 20px 4px 4px;
}

.submitButton {
  /*padding-top: 16px;*/
}
h4 {
  /* font-family: "Trebuchet MS", sans-serif; */
  font-size: 24px;
}
h2 {
  font-size: 42px;
  font-family: "Trebuchet MS", sans-serif;
  line-height: 42px;
}

.titleText {
  font-size: 40px;
  font-family: "Trebuchet MS", sans-serif;
  line-height: 40px;
  font-weight: bolder;
  /* width:100%; */
  flex-grow: 1;
  /* height: 60px; */
  /* position: absolute; */
  /* background-color: blue; */
}
.titleText2 {
  font-size: 28px;
  font-family: "Trebuchet MS", sans-serif;
  line-height: 28px;
  /* text-align: center; */
  font-weight: bolder;
  flex-grow: 1;
}
.btnLogin {
  width: 100%;
  min-width: 280px;
  color: #565656;
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  border: solid 2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* background: #fff; */
  background: #a54bff85;
  /* background: #7e43e2; */
  cursor: pointer;
}
.btn2 {
  width: 100%;
  min-width: 280px;
  color: #565656;
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  border: solid 2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-top: 16px;
  /* background: #fff; */
  background: #dab88b;
  cursor: pointer;
}

.loginFormContainer a {
  transition: text-shadow 0.5s ease;
  color: #4f89bb;
  text-decoration: none;
}
.loginFormContainer a:visited {
  color: #4f89bb;

}
.loginFormContainer a:hover {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.loginFormContainerFirst a {
  transition: text-shadow 0.5s ease;
  color: #4f89bb;
  text-decoration: none;
}
.loginFormContainerFirst a:visited {
  color: #4f89bb;

}
.loginFormContainerFirst a:hover {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
/*# sourceMappingURL=Login.css.map */

.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}    .select select {
      font-family: 'Arial';
      display: inline-block;
      width: 100%;
      cursor: pointer;
      padding: 8px 17px;
      outline: 0;
      border: 5px solid #877777;
      border-radius: 19px;
      background: #ffffff;
      color: #000000;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
  }
      .select select::-ms-expand {
          display: none;
      }
      .select select:hover,
      .select select:focus {
          color: #000000;
          background: #ffffff;
      }
      .select select:disabled {
          opacity: 0.2;
          pointer-events: none;
      }
.select_arrow {
  position: absolute;
  top: 16px;
  right: 21px;
  width: 0px;
  height: 0px;
  border: solid #7b7b7b;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
  border-color: #000000;
}
.select select:disabled ~ .select_arrow {
  border-top-color: #cccccc;
}
